<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books/Authors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

     <div class= 'AddBook'>
        <h1>Add New Book</h1>
        <form action='/add_book' method='POST'>
            {% csrf_token %}
            <label for="title">Title:</label><br>
            <input type ='text' id ='title' name='title'><br>
            <label for='genre'>Genre:</label><br>
            <input type = 'text' id='genre' name='genre'><br>
            <label for= 'y_published'>Year Published:</label><br>
            <input type ='text' id='y_published' name='y_published'><br>
            <label for='author'>Author:0</label><br>
            <select id='author' name='author'>
                {% for author in all_the_authors %}
                    <option value='{{ author.id }}'>
                        {{ author.first_name }} {{ author.last_name }}
                    </option>
                {% endfor %}
            </select>
            <br>
            <input type='submit' value='Add Book'>
            <br>
        </form>
    </div>
    <div class="Book_Table">
        <table style='width:100%'>
        <tr>
            <th>ID</th>
            <th>Book</th>
            <th>Action</th>
        </tr>
        {% for book in all_the_books %}
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td><a href='/books/{{book.id}}'>View</a> </td>
        </tr>
        {% endfor %}

    </table>
    </div>
</body>
</html>